= effective_form_with(model: [:admin, event], engine: true) do |f|
  = f.check_box :authenticate_user, label: 'The user must be be signed in to view this event', hint: 'Sign up is required to register for any event'

  - if EffectiveEvents.use_effective_roles
    = f.checks :roles, EffectiveRoles.roles_collection(f.object)

  %p.text-hint
    * leave blank for a regular public event that anyone can view

  = f.submit
