= card do
  .row
    .col-sm
      %h5.card-title= event_registration.wizard_step_title(:addons)
    .col-sm-auto.text-right
      = link_to('Edit', wizard_path(:addons)) if edit_effective_event_registrations_wizard?

  - datatable = EffectiveEventAddonsDatatable.new(event_registration: event_registration)
  .mb-4= render_simple_datatable(datatable)
