- if resource.submitted? && resource.event&.delayed_payment_date_upcoming?
  .alert.alert-warning.mb-4 Please note: you must submit each step and checkout for your ticket changes to be saved. You will receive a new confirmation email.
