.effective-event-registration
  - event_registration.render_steps.each do |partial|
    - event_registration.render_step = partial
    = render "effective/event_registrations/#{partial}", event_registration: event_registration
