.row
  .col-lg-3.mb-3
    = render_wizard_sidebar(resource)

    - if resource.display_countdown?
      .mt-4
    
      .alert.alert-warning
        Your tickets are reserved until #{resource.selected_expires_at.strftime("%l:%M%P %Z")}

  .col-lg-9.mb-3= yield
