= render 'layout' do
  %h1.effective-title.mb-4= @page_title

  .alert.alert-info
    No code of conduct has been provided. 
    Please check back later or contact the event organizer for more information.
