-# render_datatable(@datatable)

= render 'layout' do
  = render('effective/events/form', event_search: @event_search)

  - results = @event_search.results(page: params[:page])

  - if @event_search.present? && results.length == 0
    .alert.alert-info There are no results for your search. Please try again.

  - results.each do |event|
    = render('effective/events/event', event: event)

  %nav.d-flex.justify-content-center
    = bootstrap_paginate(results, per_page: @event_search.per_page)
