.effective-event
  - if @event.sold_out?
    .alert.alert-warning This event is sold out.

  - if @event.closed?
    .alert.alert-warning This event is no longer available.

  - if @event.registerable?
    .resource-buttons
      - url = @event.external_registration_url.presence || effective_events.new_event_event_registration_path(@event)
      = link_to 'Register', url, class: 'btn btn-primary'

  = render 'effective/events/event', event: @event
