.card.mb-4
  .card-body
    - if f.object.purchased?
      = f.static_field :event_product, label: 'Purchased event add-ons'
    - else
      = f.select :event_product_id, effective_events_event_products_collection(event), label: false

    -# = f.text_area :notes, label: 'Notes'
