- # Choose non-member
.row
  .col-md= f.text_field :first_name, required: true
  .col-md= f.text_field :last_name, required: true

.row
  .col-md= f.email_field :email, required: true
  .col-md= f.text_field :company
