- # Choose member
= f.hidden_field :user_type, value: current_user.class.name
= f.select :user_id, effective_events_event_registrant_user_collection(f.object), required: true, hint: effective_events_event_registrant_user_hint()
