- if ticket.questions.present?
  %p Please answer the following questions (optional):

  - if ticket.question1.present?
    = f.text_field :response1, label: ticket.question1

  - if ticket.question2.present?
    = f.text_field :response2, label: ticket.question2

  - if ticket.question3.present?
    = f.text_field :response3, label: ticket.question3
